[build]
  command = "npm run build"
  publish = ".next"

[functions]
  directory = "netlify/functions"

# Pro plan = 26 second timeout
[functions."export-pptx"]
  external_node_modules = ["pptxgenjs"]
  timeout = 26

[functions."export-pdf"]
  timeout = 26

[[plugins]]
  package = "@netlify/plugin-nextjs"
