[build]
  command = "npm run build"
  publish = ".next"

[build.environment]
  SECRETS_SCAN_OMIT_PATHS = ".env.local,.netlify/**"

[[plugins]]
  package = "@netlify/plugin-nextjs"

# Add these lines for the export functions
[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[functions."export-pdf"]
  timeout = 60

[functions."export-pptx"]
  timeout = 60
